In [84]:
import pyodbc
import psycopg2
import time
from datetime import datetime
import pandas as pd
# import sqlalchemy create_engine
from sqlalchemy import create_engine
from sqlalchemy import text
from sqlalchemy.engine import URL

In [85]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
#pd.options.display.max_columns = None
#pd.options.display.max_rows = None

In [86]:
#!pip install psycopg2
#!pip install pyodbc
#!pip install time
#!pip install pandas
#!pip install ipython_sql

In [87]:
pg_server = 'localhost'
pg_database = 'spacex_db'
pg_user = 'postgres'
#pg_user = 'bi_db_w'
pg_pass = 'rnoaAAF6'
#pg_pass = '1qaz2wsX@'
files_path = 'C:/Users/u45s/OneDrive - PETROBRAS/Desktop/backup notebook/Organização de Pastas/_Atividades 2020-2021-2022/cursos/IBM Data Science Professional/Project Capstone Final Course/week 2/'

In [88]:
# grava no banco de dados spacex_db
def insert_df_db(df,tabela,engine,acao):
    try:
        df.to_sql(tabela,engine,if_exists=acao,index = False)
        print("Dados da tabela ",tabela,' foram inseridos com sucesso:')
    except: 
        print("Não foi possível incluir os registros no banco.")
    return 1

# inicia conexão com banco de dados postgresql
def open_pg_conn(pg_server,pg_database,pg_user,pg_pass):
    pg_engine = None
    pg_engine = create_engine('postgresql+psycopg2://'+ pg_user +':' + pg_pass +'@'+pg_server+'/' + pg_database)
    try:
        pg_engine = create_engine('postgresql+psycopg2://'+ pg_user +':' + pg_pass +'@'+pg_server+'/' + pg_database)
        print("Conexão com o banco ",pg_database," iniciado com sucesso:")
    except: 
        print("Falha de conexão com o banco ",pg_database,".")
    
    return pg_engine

In [89]:
pgsql_engine = open_pg_conn(pg_server,pg_database,pg_user,pg_pass)

Conexão com o banco  spacex_db  iniciado com sucesso:

In [99]:
spacex_db = pd.read_excel(files_path +"Spacex_v1.xlsx")

In [100]:
#chicago_public_schools[['SAFETY_SCORE', 'Environment_Score','Instruction_Score','Rate_of_Misconducts__per_100_students_','ISAT_Exceeding_Math__','ISAT_Exceeding_Reading__','ISAT_Value_Add_Math','ISAT_Value_Add_Read','X_COORDINATE','Y_COORDINATE','Latitude','Longitude']]
spacex_db.dtypes

DATE                 datetime64[ns]
TIME (UTC)                   object
BOOSTER_VERSION              object
LAUNCH_SITE                  object
PAYLOAD                      object
PAYLOAD_MASS__KG_             int64
ORBIT                        object
CUSTOMER                     object
MISSION_OUTCOME              object
LANDING _OUTCOME             object
dtype: object

In [101]:
# convert DATE - datime to date only records
spacex_db['DATE'] = pd.to_datetime(spacex_db['DATE']).dt.date

In [102]:
spacex_db.dtypes

DATE                 object
TIME (UTC)           object
BOOSTER_VERSION      object
LAUNCH_SITE          object
PAYLOAD              object
PAYLOAD_MASS__KG_     int64
ORBIT                object
CUSTOMER             object
MISSION_OUTCOME      object
LANDING _OUTCOME     object
dtype: object

CREATE TABLE "CENSUS_DATA" (
"COMMUNITY_AREA_NUMBER" INT, 
"COMMUNITY_AREA_NAME" VARCHAR,
"PERCENT_OF_HOUSING_CROWDED" FLOAT, 
"PERCENT_HOUSEHOLDS_BELOW_POVERTY" FLOAT,
"PERCENT_AGED_16__UNEMPLOYED" FLOAT,
"PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA" FLOAT,
"PERCENT_AGED_UNDER_18_OR_OVER_64" FLOAT, 
"PER_CAPITA_INCOME" INT,
"HARDSHIP_INDEX" INT
	);

CREATE TABLE "CHICAGO_PUBLIC_SCHOOLS" (
"School_ID" INT,
"NAME_OF_SCHOOL" VARCHAR,
"Elementary, Middle, or High School" VARCHAR,
"Street_Address" VARCHAR,
"City" VARCHAR,
"State" VARCHAR,
"ZIP_Code" INT,
"Phone_Number" VARCHAR,
"Link" VARCHAR,
"Network_Manager" VARCHAR,
"Collaborative_Name" VARCHAR,
"Adequate_Yearly_Progress_Made_" VARCHAR,
"Track_Schedule" VARCHAR,
"CPS_Performance_Policy_Status" VARCHAR,
"CPS_Performance_Policy_Level" VARCHAR,
"HEALTHY_SCHOOL_CERTIFIED" VARCHAR,
"Safety_Icon" VARCHAR,
"SAFETY_SCORE" INT,
"Family_Involvement_Icon" VARCHAR,
"Family_Involvement_Score" VARCHAR,
"Environment_Icon" VARCHAR,
"Environment_Score" INT,
"Instruction_Icon" VARCHAR,
"Instruction_Score" INT,
"Leaders_Icon" VARCHAR,
"Leaders_Score" VARCHAR,
"Teachers_Icon" VARCHAR,
"Teachers_Score" VARCHAR,
"Parent_Engagement_Icon" VARCHAR,
"Parent_Engagement_Score" VARCHAR,
"Parent_Environment_Icon" VARCHAR,
"Parent_Environment_Score" VARCHAR,
"AVERAGE_STUDENT_ATTENDANCE" VARCHAR,
"Rate_of_Misconducts__per_100_students_" FLOAT,
"Average_Teacher_Attendance" VARCHAR,
"Individualized_Education_Program_Compliance_Rate" VARCHAR,
"Pk_2_Literacy__" VARCHAR,
"Pk_2_Math__" VARCHAR,
"Gr3_5_Grade_Level_Math__" VARCHAR,
"Gr3_5_Grade_Level_Read__" VARCHAR,
"Gr3_5_Keep_Pace_Read__" VARCHAR,
"Gr3_5_Keep_Pace_Math__" VARCHAR,
"Gr6_8_Grade_Level_Math__" VARCHAR,
"Gr6_8_Grade_Level_Read__" VARCHAR,
"Gr6_8_Keep_Pace_Math_" VARCHAR,
"Gr6_8_Keep_Pace_Read__" VARCHAR,
"Gr_8_Explore_Math__" VARCHAR,
"Gr_8_Explore_Read__" VARCHAR,
"ISAT_Exceeding_Math__" FLOAT,
"ISAT_Exceeding_Reading__" FLOAT,
"ISAT_Value_Add_Math" FLOAT,
"ISAT_Value_Add_Read" FLOAT,
"ISAT_Value_Add_Color_Math" VARCHAR,
"ISAT_Value_Add_Color_Read" VARCHAR,
"Students_Taking__Algebra__" VARCHAR,
"Students_Passing__Algebra__" VARCHAR,
"9th Grade EXPLORE (2009)" VARCHAR,
"9th Grade EXPLORE (2010)" VARCHAR,
"10th Grade PLAN (2009)" VARCHAR,
"10th Grade PLAN (2010)" VARCHAR,
"Net_Change_EXPLORE_and_PLAN" VARCHAR,
"11th Grade Average ACT (2011)" VARCHAR,
"Net_Change_PLAN_and_ACT" VARCHAR,
"College_Eligibility__" VARCHAR,
"Graduation_Rate__" VARCHAR,
"College_Enrollment_Rate__" VARCHAR,
"COLLEGE_ENROLLMENT" INT,
"General_Services_Route" INT,
"Freshman_on_Track_Rate__" VARCHAR,
"X_COORDINATE" FLOAT,
"Y_COORDINATE" FLOAT,
"Latitude" FLOAT,
"Longitude" FLOAT,
"COMMUNITY_AREA_NUMBER" INT,
"COMMUNITY_AREA_NAME" VARCHAR,
"Ward" INT,
"Police_District" INT,
"Location" VARCHAR
);

CREATE TABLE "CHICAGO_CRIME_DATA" (
"ID" INT ,
"CASE_NUMBER" VARCHAR ,
"DATE" VARCHAR ,
"BLOCK" VARCHAR ,
"IUCR" VARCHAR ,
"PRIMARY_TYPE" VARCHAR ,
"DESCRIPTION" VARCHAR ,
"LOCATION_DESCRIPTION" VARCHAR ,
"ARREST" BOOLEAN ,
"DOMESTIC" BOOLEAN ,
"BEAT" INT ,
"DISTRICT" INT
)

In [103]:
insert_df_db(spacex_db,"spacex_data",pgsql_engine,"replace")

Dados da tabela  spacex_data  foram inseridos com sucesso:

1

In [104]:
spacex_db.head()

,DATE,TIME (UTC),BOOSTER_VERSION,LAUNCH_SITE,PAYLOAD,PAYLOAD_MASS__KG_,ORBIT,CUSTOMER,MISSION_OUTCOME,LANDING _OUTCOME
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [106]:
print(pgsql_engine)

Engine(postgresql+psycopg2://postgres:***@localhost/spacex_db)